from benford.functionBenford import *
from benford import calculateBenford
from data import loadData
from graphic.generateGraph import *
from tkinter import *
from tkinter.filedialog import askopenfilename
import os
import streamlit as st
import plotly.graph_objs as go
import plotly.offline as py
import plotly.express as px
import pandas as pd
import datetime
import tkinter as tk
import random
